<section class = "fav-recipe-section">

  <header>
    <button ng-click = "userCtrl.favListDisplay()" class = "default-raised-button favourites-button" type="button" name="button">Favourites List</button>
    <button ng-click = "userCtrl.shopListDisplay()" class = "default-raised-button shopping-button" type="button" name="button">Shopping List</button>
  </header>

  <section class = "search-results-display-section" ng-show = "Nid.displaySuccessMessage" ng-if = "Nid.found.length > 0">

    <header class = "search-results-header">
      <section>
        Showing recipes for "{{Nid.successMessage}}"
      </section>
    </header>

    <section class="search-results-box-section">
      <section class="search-results-section" ng-repeat = "recipeItem in Nid.found">
        <section class="recipe-item-section">

          <section class = "col-lg-8">
            <section class="recipe-description-section col-lg-12" >

              <section class = "recipe-title">
                {{recipeItem.recipe.label}}
              </section>

            </section>

            <section class="action-buttons-section col-lg-12">
              <button ng-click = "Nid.showRecipe($index)" title = "View recipe" class = "view-recipe-button default-raised-button" type="button" name="button">VIEW RECIPE</button>
              <button ng-click = "Nid.addingItem($index)" class="default-raised-button add-recipe-button" title = "Add to favorites" type="button" name="button">ADD TO FAVOURITES</button>
              <!-- <button class="default-raised-button" title = "Remove from search list" type="button" name="button">REMOVE</button> -->
            </section>
          </section>

          <section class = "recipe-image-section col-lg-4">
            <img class = "recipe-image" ng-src="{{recipeItem.recipe.image}}" alt="">
          </section>



        </section>
      </section>
    </section>

    <section ng-show  = "Nid.recipeShow" class = "recipe-details-section">
      <header class = "sub-recipe-header">
        <section class="sub-recipe-title col-lg-12">{{Nid.recipeDisplay.recipe.label}}</section>
        <section>
          <!-- <button class = "close-recipe-button " ng-click = "Nid.hideRecipe()" type="button" name="button">CLOSE</button> -->
          <button class = "close-recipe-button default-flat-button" ng-click = "Nid.hideRecipe()" type="button" name="button">
            <img src="images/close-36.png" alt="">
          </button>
        </section>
      </header>
      <br><br>

      <section class="recipe-minor-details">

      </section>

      <section class="col-lg-12 sub-recipe-making">

        <section class = "col-lg-6 recipe-main-details" >
          <section class="recipe-steps">
            <h1>Steps for making : </h1>
            <ol>
              <li ng-repeat = "step in Nid.recipeDisplay.recipe.ingredientLines">{{step}}</li>
            </ol>
          </section>
        </section>

        <section class="recipe-main-image col-lg-6">
          <img ng-src="{{Nid.recipeDisplay.recipe.image}}" alt="">
        </section>

      </section>

    </section>


  </section>


  <section ng-show = "userCtrl.displayList" ng-if = "userCtrl.shopList.length === 0" >
    <br><br>No favorites added to this list. Browse for recipes to add...
  </section>

</section>

<section ng-if = "userCtrl.displayList === 0" class = "shop-list-section">

  <br><br>
  <section class = "addding-shop-item">
    <input ng-model = "userCtrl.itemName" type="text" name="" value="" placeholder = "add item name">
    <input ng-model = "userCtrl.itemQuantity" type="text" name="" value="" placeholder = "add item quantity">
    <input ng-model = "userCtrl.itemUnits" type="text" name="" value="" placeholder = "add item units">
    <button ng-click = "userCtrl.addShopItem()" type="button" name="button">ADD</button>
  </section>
  <br><br>
  <section class= "display-shop-item">
    <ul>
      <li ng-repeat = "item in userCtrl.shopList" class="col-lg-12">
        <section ng-show = "userCtrl.showShopItem" class="col-lg-12">
          <section class="shop-item-details col-lg-2">
            {{item.quantity}} {{item.units}} of {{item.name}}
          </section>
          <section class="shop-item-action col-lg-3">
            <!-- <button ng-click = "userCtrl.editShopItem($index)" class = "edit-shop-item" type="button" name="button">EDIT</button> -->
            <button ng-click = "userCtrl.removeShopItem($index)" type="button" name="button">REMOVE</button>
          </section>
        </section>
      </li>
    </ul>
  </section>

  <!-- <section ng-if = "userCtrl.showShopItem === 2" class="col-lg-12">
    <section class="shop-editing-section col-lg-5">
      <input ng-model = "userCtrl.editName" type="text" name="" value="">
      <input ng-model = "userCtrl.editQuantity" type="text" name="" value="">
      <input ng-model = "userCtrl.editUnits" type="text" name="" value="">
    </section>
    <section class="shop-editing-action col-lg-3">
      <button ng-click = "userCtrl.edited()" type="button" name="button">DONE</button>
    </section>
  </section>

</section> -->
