*{
  /*outline: 1px solid green;*/
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

button{
  cursor: pointer;
}

.default-flat-button{
  min-width: 80px;
  height: 36px;
  margin: 0px 8px;
  padding: 0 8px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}
.default-flat-button:focus{
  outline: none;
}

.default-raised-button{
  min-width: 80px;
  height: 36px;
  margin: 0px 8px;
  padding: 0 8px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}
.default-raised-button:focus{
  outline: none;
}

.default-raised-button:hover{
  box-shadow: 1px 1px 2px lightgray;
}

.default-fba{
  min-width: 56px;
  min-height: 56px;
  height: 48px;
  margin: 0px 8px;
  padding: 6px 8px;
  border: none;
  border-radius: 56px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  box-shadow: 1px 1px 6px 1px gray;
}

.default-fba:hover{
  box-shadow: 1px 1px 12px 1px gray;
}
.default-fba:focus{
  outline: none;
}

.default-fba:visited{
  outline: none;
}

body{
  min-height: 100px;
  /*background-color: #f4f4f4;*/
  background-color: #ffffff;
}

/******************************************************************************/
/*Heder*/
/******************************************************************************/

/******************************************************************************/
/*Article*/
/******************************************************************************/
article{
  padding: 50px 350px;
}

.confirm-modal{

}
.confirm-screen{
  display: none;
  background-color: #f4f4f4;
  width: 700px;
  height: 200px;
  padding: 80px 80px;
}

.confirm-frame{
  font-weight: 500;
  font-size: 14px;
}
.confirm-frame-images{
  height: 100%;
  width: 100%;
}
.confirm-text{
  /*width: 60%;*/
}
.modal-section{
  width: 700px;
  height: 500px;
  box-shadow: 1px 1px 6px 1px lightgray;
  background-color: white;
  border: 1px solid red;
}

.left-section{
  width: 50%;
  height: 100%;
  padding: 16px;
  /*background: yellow;*/
}
.right-section{
  width: 50%;
  height: 100%;
  padding: 16px;
  /*background: green;*/
}
.image-section{
  width: 100%;
  height: 70%;
}
.image-section img{
  width: 100%;
  height: 100%;
}

.write-up-section{
  width: 100%;
  padding-top: 8px;
  height: 30%;
}

.user-input{
  width: 100%;
  height: 80%;
  padding: 0 0 30% 0;
  resize: none;
}


.right-section header{
  height: 24px;
}

.frame-search{
  margin: 16px 0px;
  width: 100%;
  height: 40px;
}

.create-new-frame-button{
  width: 100%;
  height: 36px;
  text-align: left;
  background-color: white;
  border: none;
  color: red;
  font-size: 14px;
  font-weight: 500;
  margin: 8px 0px;
}

.frames-section{
  /*background-color: pink;*/
  width: 100%;
  height: 70%;
  overflow-y: auto;
}

.single-frame{
  height: 112px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 8px;
  /*background: black;*/
}

.single-frame:hover{
  background-color: lightgray;
}

.frame-images-section{
  /*width: 100%;*/
  height: 100%;
  /*background-color: yellow;*/
}

.images-high{
  /*background-color: green;*/
  width: 65%;
  height: 100%;
}
.images-high img, .images-low-one img, .images-low-two img{
  width: 100%;
  height: 100%;
}
.images-low{
  /*background-color: pink;*/
  width: 30%;
  height: 100%;
}
.images-low-one, .images-low-two{
  width: 100%;
  height: 50%;
}

.frame-title-section{
  /*width: 60%;*/
  height: 100%;
  padding: 16px;
  /*background-color: lightyellow;*/
}
.frame-title{
  font-size: 14px;
  font-weight: 400;
  padding: 8px 0px;
}
.stitch-button{
  min-width: 36px;
  border-radius: 2px;
  background-color: red;
  border: none;
  color: white;
  font-size: 13px;
  font-weight: 500;
}

.fba-section button{
  /*min-width: 56px;
  min-height: 56px;*/
  width: 56px;
  height: 56px;
  /*height: 48px;*/
  margin: 0px 8px;
  padding: 6px 8px;
  border: none;
  border-radius: 56px;
  cursor: pointer;
  box-shadow: 1px 1px 6px 1px gray;
}

.fba-section button:hover{
  box-shadow: 1px 1px 12px 1px gray;
}
.fba-section button:focus{
  outline: none;
}

.fba-section button:visited{
  outline: none;
}

.email-button{
  position: fixed;
  bottom: 100px;
  right: 24px;
  background-color: #00bcd4;
  color: white;
}
.resume-download-button{
  position: fixed;
  background-color: #00bcd4;
  bottom: 24px;
  right: 24px;
  /*color: black;
  float: right;*/
}

/******************************************************************************/
/******************************************************************************/
/*MEDIUM DISPLAY*/
/******************************************************************************/
/******************************************************************************/
@media (min-width:768px) and (max-width:991px){
  /******************************************************************************/
  /*Article*/
  /******************************************************************************/

  /*.fba-section button{
    width: 40px;
    height: 40px;
    border-radius:  40px;
  }*/

}

/******************************************************************************/
/******************************************************************************/
/*SMALL DISPLAY*/
/******************************************************************************/
/******************************************************************************/
@media (min-width:425px) and (max-width:767px){
  /******************************************************************************/
  /*Heder*/
  /******************************************************************************/
  .home-link-section{
    padding: 14px 56px;
  }
  .nav-bar{
    display: none;
  }

  /******************************************************************************/
  /*Article*/
  /******************************************************************************/
  button{
    font-size: 13px;
  }

  .about-section{
    padding: 16px;
  }
  .self-description{
    font-size: 14px;
  }
  .single-project{
    /*display: block;*/
    width: 98%;
    margin: 8% 1%;
    min-height: 100px;
    display: inline-block;
    padding-bottom: 8px;
  }

  .project-img{
    margin-bottom: 8px;
  }
  /*.fba-section button{
    width: 40px;
    height: 40px;
    border-radius:  40px;
    right: 8px;
  }
  .email-button{
    bottom: 16px;
  }
  .resume-download-button{
    bottom: 84px;
  }*/
}

@media (min-width:375px) and (max-width:424px){
  /******************************************************************************/
  /*Heder*/
  /******************************************************************************/
  .home-link-section{
    padding: 14px 56px;
  }
  .nav-bar{
    display: none;
  }

  /******************************************************************************/
  /*Article*/
  /******************************************************************************/
  button{
    font-size: 13px;
  }

  .about-section{
    padding: 16px;
  }
  .self-description{
    font-size: 14px;
  }
  .single-project{
    width: 98%;
    margin: 8% 1%;
    min-height: 100px;
    display: inline-block;
    padding-bottom: 8px;
  }

  .project-img{
    margin-bottom: 8px;
  }
  /*.fba-section button{
    width: 40px;
    height: 40px;
    border-radius:  40px;
    right: 8px;
  }
  .email-button{
    bottom: 16px;
  }
  .resume-download-button{
    bottom: 84px;
  }*/
}
@media (min-width:320px) and (max-width:374px){
  /******************************************************************************/
  /*Heder*/
  /******************************************************************************/
  .home-link-section{
    padding: 14px 56px;
  }
  .nav-bar{
    display: none;
  }

  /******************************************************************************/
  /*Article*/
  /******************************************************************************/
  button{
    font-size: 13px;
  }

  .about-section{
    padding: 16px;
  }
  .self-description{
    font-size: 14px;
  }
  .single-project{
    width: 98%;
    margin: 8% 1%;
    min-height: 100px;
    display: inline-block;
    padding-bottom: 8px;
  }

  .project-img{
    margin-bottom: 8px;
  }
  .fba-section button{
    width: 40px;
    height: 40px;
    border-radius:  40px;
    right: 8px;
  }
  .email-button{
    bottom: 84px;
  }
  .resume-download-button{
    bottom: 16px;
  }
}

@media (max-width:319px){
  /******************************************************************************/
  /*Heder*/
  /******************************************************************************/
  .home-link-section{
    padding: 14px 40px;
  }
  .nav-bar{
    display: none;
  }

  /******************************************************************************/
  /*Article*/
  /******************************************************************************/
  button{
    font-size: 13px;
  }

  .about-section{
    padding: 16px;
  }
  .self-description{
    font-size: 14px;
  }
  .single-project{
    width: 98%;
    margin: 8% 1%;
    min-height: 100px;
    display: inline-block;
    padding-bottom: 8px;
  }

  .project-img{
    margin-bottom: 8px;
  }
  .fba-section button{
    width: 40px;
    height: 40px;
    border-radius:  40px;
    right: 8px;
  }
  .email-button{
    bottom: 84px;
  }
  .resume-download-button{
    bottom: 16px;
  }
}
