*{
  /*outline: 1px solid green;*/
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

button{
  cursor: pointer;
}

.default-flat-button{
  /*min-width: 80px;*/
  height: 36px;
  margin: 0px 16px;
  padding: 0 8px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}
.default-flat-button:focus{
  outline: none;
}

.default-raised-button{
  min-width: 80px;
  height: 36px;
  margin: 0px 8px;
  padding: 0 8px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}
.default-raised-button:focus{
  outline: none;
}

.default-raised-button:hover{
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35);
}

.default-fba{
  min-width: 56px;
  min-height: 56px;
  height: 48px;
  margin: 0px 8px;
  padding: 6px 8px;
  border: none;
  border-radius: 56px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  box-shadow: 1px 1px 6px 1px gray;
}

.default-fba:hover{
  box-shadow: 1px 1px 12px 1px gray;
}
.default-fba:focus{
  outline: none;
}

.default-fba:visited{
  outline: none;
}

body{
  min-height: 100px;
  /*background-color: #f4f4f4;*/
  background-color: #ffffff;
}

/*****************************************************************************/
/*header*/
/*****************************************************************************/
header{
  padding: 10px 16px;
  height: 56px;
}
.landing-header{
  background-color: #cddc39;
  box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.35);
}
.right-nav-section{
  float: right;
}
.default-flat-button{
  background-color: white;
}
.left-nav-section{
  height: 36px;
  padding-top: 4px;
}
.home-link{
  text-decoration: none;
  font-size: 24px;
  font-weight: bolder;
  color: black;
  font-family: 'Bonbon', cursive;
}

.browse-recipes-button{
  background-color:#cddc39;
  font-weight: 500;
  float: right;
}
.browse-recipes-button:hover{
  /*background-color: #ffff6e;*/
  border-bottom: 2px solid #00bcd4;
}
.user-button{
  background-color:#cddc39;
  font-weight: 500;
  float: right;
}
.user-button:hover{
  /*background-color: #ffff6e;*/
  border-bottom: 2px solid #00bcd4;
}
.logout-button{
  font-weight: 500;
  float: right;
  background-color:#00bbd3;
}

/*****************************************************************************/
/*article*/
/*****************************************************************************/
article{
  padding: 16px;
  min-height: 200px;
}
.search-section{
  padding: 5% 20%;
  height: 200px;
}
.search-input{
  width: 500px;
  height: 48px;
  border: none;
  padding: 8px;
  /*border: 2px solid ;*/
  border-radius: 2px;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.35);
}
.search-button{
  position: relative;
  height: 48px;
  top: 13px;
  padding-top: 4px;
  width: 80px;
  background-color: #00bbd3;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.35);
}
.main-view-section{
  padding: 0px 10%;
}
.search-results-display-section{
  /*padding: 0px 10%;*/
  /*box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.35);*/
}
.search-result-status{
  padding: 8px;
}
.search-results-header{
  padding : 16px 16px;
  /*border: 1px solid rgba(0, 0, 0, 0.35);*/
  /*box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.35);*/
  font-size: 24px;
  font-weight: 500;
  /*outline-style: solid;
  outline-color: rgba(0, 0, 0, 0.35);*/
}
.search-status-section{
  padding: 8px;
}
.search-results-box-section{
  box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.25);
}
.search-results-section{
  padding: 0px 16px;
  font-size: 16px;
  border-bottom: 2px solid lightgray;
  border-radius: 2px;
}
.recipe-item-section{
  /*margin: 8px 0px;*/
  min-height: 150px;
  padding: 24px 0px;
}
.fav-recipe-item{
  min-height: 150px;
  padding: 24px 0px;
}

.app-description{
  font-size: 20px;
  font-weight: 500;
  padding: 16px 16px;
}

.recipe-details-section{
  width: 700px;
  height: 500px;
  background-color: white;
  overflow: auto;

  /*margin: 50px 370px;*/
  box-shadow: 1px 1px 24px 600px rgba(0, 0, 0, .2);
  padding: 32px;
  position: fixed;
  top: 60px;
  left: 370px;
}
.recipe-image{
  height: 100px;
  width: 100px;
}
.close-recipe-button{
  float: right;
}
.stop-scroll{
  overflow: hidden;
}
/******************************************************************************/
/******************************************************************************/
/*MEDIUM DISPLAY*/
/******************************************************************************/
/******************************************************************************/
@media (min-width:768px) and (max-width:991px){
  /*****************************************************************************/
  /*Article*/
  /*****************************************************************************/

  /*.fba-section button{
    width: 40px;
    height: 40px;
    border-radius:  40px;
  }*/

}

/******************************************************************************/
/******************************************************************************/
/*SMALL DISPLAY*/
/******************************************************************************/
/******************************************************************************/
@media (min-width:425px) and (max-width:767px){
  /******************************************************************************/
  /*Heder*/
  /******************************************************************************/
  .home-link-section{
    padding: 14px 56px;
  }
  .nav-bar{
    display: none;
  }

  /******************************************************************************/
  /*Article*/
  /******************************************************************************/
  button{
    font-size: 13px;
  }

  .about-section{
    padding: 16px;
  }
  .self-description{
    font-size: 14px;
  }
  .single-project{
    /*display: block;*/
    width: 98%;
    margin: 8% 1%;
    min-height: 100px;
    display: inline-block;
    padding-bottom: 8px;
  }

  .project-img{
    margin-bottom: 8px;
  }
  /*.fba-section button{
    width: 40px;
    height: 40px;
    border-radius:  40px;
    right: 8px;
  }
  .email-button{
    bottom: 16px;
  }
  .resume-download-button{
    bottom: 84px;
  }*/
}

@media (min-width:375px) and (max-width:424px){
  /******************************************************************************/
  /*Heder*/
  /******************************************************************************/
  .home-link-section{
    padding: 14px 56px;
  }
  .nav-bar{
    display: none;
  }

  /******************************************************************************/
  /*Article*/
  /******************************************************************************/
  button{
    font-size: 13px;
  }

  .about-section{
    padding: 16px;
  }
  .self-description{
    font-size: 14px;
  }
  .single-project{
    width: 98%;
    margin: 8% 1%;
    min-height: 100px;
    display: inline-block;
    padding-bottom: 8px;
  }

  .project-img{
    margin-bottom: 8px;
  }
  /*.fba-section button{
    width: 40px;
    height: 40px;
    border-radius:  40px;
    right: 8px;
  }
  .email-button{
    bottom: 16px;
  }
  .resume-download-button{
    bottom: 84px;
  }*/
}
@media (min-width:320px) and (max-width:374px){
  /******************************************************************************/
  /*Heder*/
  /******************************************************************************/
  .home-link-section{
    padding: 14px 56px;
  }
  .nav-bar{
    display: none;
  }

  /******************************************************************************/
  /*Article*/
  /******************************************************************************/
  button{
    font-size: 13px;
  }

  .about-section{
    padding: 16px;
  }
  .self-description{
    font-size: 14px;
  }
  .single-project{
    width: 98%;
    margin: 8% 1%;
    min-height: 100px;
    display: inline-block;
    padding-bottom: 8px;
  }

  .project-img{
    margin-bottom: 8px;
  }
  .fba-section button{
    width: 40px;
    height: 40px;
    border-radius:  40px;
    right: 8px;
  }
  .email-button{
    bottom: 84px;
  }
  .resume-download-button{
    bottom: 16px;
  }
}

@media (max-width:319px){
  /******************************************************************************/
  /*Heder*/
  /******************************************************************************/
  .home-link-section{
    padding: 14px 40px;
  }
  .nav-bar{
    display: none;
  }

  /******************************************************************************/
  /*Article*/
  /******************************************************************************/
  button{
    font-size: 13px;
  }

  .about-section{
    padding: 16px;
  }
  .self-description{
    font-size: 14px;
  }
  .single-project{
    width: 98%;
    margin: 8% 1%;
    min-height: 100px;
    display: inline-block;
    padding-bottom: 8px;
  }

  .project-img{
    margin-bottom: 8px;
  }
  .fba-section button{
    width: 40px;
    height: 40px;
    border-radius:  40px;
    right: 8px;
  }
  .email-button{
    bottom: 84px;
  }
  .resume-download-button{
    bottom: 16px;
  }
}
